header .nav {
  min-height: 70px !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item a {
  color: #080808;
  border-color: #b51930;
}

.pagination .active .page-link {
  background-color: #b51930;
  border-color: #b51930;
}

.pagination .active a {
  background-color: #b51930;
  border-color: #b51930;
}

.pagination .disabled {
  border-color: #b51930;
}

.pagination .disabled .page-link {
  border-color: #b51930;
}

.bg_primary_custom {
  background-color: #b51930 !important;
}

.text_primary_custom {
  color: #b51930 !important;
}

.nav .active {
  background-color: #ca233c;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bg-primary-custom {
  background-color: #c32227 !important;
}

.bg-secondary-custom {
  background-color: #ffc60a !important;
}

@font-face

/*perintah untuk memanggil font eksternal*/
  {
  font-family: 'League Spartan Bold';
  /*memberikan nama bebas untuk font*/
  src: url('../font/LeagueSpartan-Bold.ttf');
  /*memanggil file font eksternalnya di folder nexa*/
}

.font-league-spartan {
  font-family: 'League Spartan Bold';
  /* font-family: 'Roboto', sans-serif;
  */
}

@font-face

/*perintah untuk memanggil font eksternal*/
  {
  font-family: 'Proxima Nova';
  /*memberikan nama bebas untuk font*/
  src: url('../font/Proxima_Nova_Font.otf');
  /*memanggil file font eksternalnya di folder nexa*/
}

.font-proxima-font {
  font-family: 'Proxima Nova';
}

.btn-rounded-full {
  border-radius: 100px;
}

/* Add styles for the blurred overlay */
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  /* Ensure overlay is below navbar */
}

/* Add styles for dropdown animation */
.dropdown:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.3s;
}

.card-hover {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-hover:hover .card-overlay {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Full-width dropdown */
.dropdown-menu .full-width {
  min-width: 100%;
  left: 0 !important;
  right: auto !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .navbar .megamenu {
  padding: 1rem;
  margin-top: 0px;
}
*/
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media(max-width: 991px) {

  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    margin: 0px !important;
  }

  .dropdown-menu-magamenu {
    margin-top: 1rem !important;
  }
}

@media (max-width: 991px) {
  .nav-link {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
    margin: 0px !important;
  }

  #search {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    padding: 0rem 2rem !important;
    /* Adjust padding values as needed */
    text-align: center;
  }

  #search {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media (min-width: 1400px) {
  .nav-link {
    padding: 0rem 4rem !important;
    /* Adjust padding values as needed */
    text-align: center;
  }

  #content-product {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.tab-resume {
  padding-left: 0rem !important;
  padding-right: 1rem !important;
}

.product-category {
  height: 100% !important;
}

@media (max-width: 424px) {
  #title-modal {
    font-size: 50px !important;
    text-align: center;
  }

  .category-description {
    font-size: 15px !important;
    padding-top: 10px;
  }
}

@media (min-width: 425px) {
  #title-modal {
    font-size: 63px !important;
  }

  .category-description {
    font-size: 20px !important;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  #title_category {
    font-size: 50px !important;
    line-height: 50px !important;
  }

  .product-category {
    padding: 20px !important;
  }

}

@media (max-width: 991px) {
  #btn-modal-close-md {
    display: block;
  }

  #btn-modal-close-lg {
    display: none;
  }
  
  #text-reseller-2{
    font-size: 50px !important;
  }
}

@media (min-width: 992px) {
  #btn-modal-close-md {
    display: none;
  }
  
  #text-reseller-2{
    font-size: 80px !important;
  }

  #btn-modal-close-lg {
    display: block;
  }

  .category-description {
    font-size: 1.75rem !important;
  }
}

.iti {
  width: 100%;
}

.bg-card-category {
  background-color: rgb(245, 245, 245) !important;
}

#carouselItem .carousel-control-prev {
  width: 40px;
  font-size: 24px;
  background-color: black;
  opacity: 10%;
}

#carouselItem .carousel-control-prev:hover {
  opacity: 20%;
}

#carouselItem .carousel-control-next {
  width: 40px;
  font-size: 24px;
  background-color: black;
  opacity: 10%;
}

.paragraph p {
  text-align: justify !important;
}

@font-face {
  font-family: 'Painting With Chocolate';
  src: url('../font/Paintingwithchocolate-K5mo.ttf');
}

.font-painting-with-chocolate {
  font-family: 'Painting With Chocolate';
}

@font-face {
  font-family: 'Retroica';
  src: url('../font/Retroica.ttf');
}

.font-retroica {
  font-family: 'Retroica';
}

/* main section {
  min-height: 100vh;
}
*/
#banner {
  height: 100vh;
}

#banner .container {
  height: 100vh;
  /* padding-top: 300px;
  */
  display: flex !important;
  align-items: center !important;
  /* vertical */
  justify-content: center !important;
  /* horizontal */
  margin: auto auto !important;
}

#banner .container .row {
  /* padding-top: 300px;
  */
  display: flex !important;
  align-items: center !important;
  /* vertical */
  justify-content: center !important;
  /* horizontal */
  margin: auto auto !important;
}

#banner .container .row .sub {
  font-size: 100px;
  line-height: 100px;
}

#banner .container .row .obj {
  font-size: 250px;
  line-height: 250px;
}

#mission .container .content-mission .title-section {
  font-size: 100px;
}

#mission .container .content-mission .row .col-md-6 {
  display: flex;
  flex-direction: column;
}

#mission .container .content-mission .row .col-md-6 .mission-paragraph {
  flex-grow: 1;
}

#vision .container .content-vision .title-section {
  font-size: 100px;
}

#vision .container .content-vision .regular {
  font-size: 70px;
}

#vision .container .content-vision .highlite {
  font-size: 110px;
}

#vision .container .content-vision span {
  line-height: 120px;
}

#vision .container .content-vision a {
  font-size: 30px;
}

#team .container .content-team .title-section {
  font-size: 100px;
}

.mission-paragraph {
  font-size: 25px;
}

@media (max-width: 1200px) {
  #vision .container .content-vision .regular {
    font-size: 70px;
  }

  #vision .container .content-vision .highlite {
    font-size: 110px;
  }

  #vision .container .content-vision span {
    line-height: 110px;
  }

  #vision .container .content-vision a {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  #vision .container .content-vision .regular {
    font-size: 70px;
  }

  #vision .container .content-vision .highlite {
    font-size: 120px;
  }

  #vision .container .content-vision span {
    line-height: 110px;
  }

  #vision .container .content-vision a {
    font-size: 30px;
  }

  #team .container .paragraph .content-section {
    padding: 0px !important;
  }
}

@media (max-width: 768px) {
  #vision .container .content-vision .regular {
    font-size: 50px;
  }

  #vision .container .content-vision .highlite {
    font-size: 90px;
  }

  #vision .container .content-vision span {
    line-height: 80px !important;
  }

  #vision .container .content-vision a {
    font-size: 35px !important;
  }

  #mission .container .content-mission .title-section {
    font-size: 80px;
  }

  #vision .container .content-mission .title-section {
    font-size: 90px;
  }

  #team .container .content-mission .title-section {
    font-size: 80px;
  }

  #team .container .paragraph .content-section {
    padding: 0px !important;
  }
}

@media (min-width: 576px) {
  #mission .container .mobile-form {
    display: none;
  }

  #mission .container .tablet-form {
    display: block;
  }
}

@media (max-width: 575px) {
  #banner .container .row .sub {
    font-size: 50px;
    line-height: 100px;
  }

  #banner .container .row .obj {
    font-size: 125px;
    line-height: 100px;
  }

  #mission .container .content-mission .title-section {
    font-size: 50px;
    line-height: 100px;
  }

  #mission .container .content-mission .desc-section {
    font-size: 30px;
  }

  #mission .container .content-mission .col-12 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #mission .container .mobile-form {
    display: block;
  }

  #mission .container .tablet-form {
    display: none;
  }

  #mission .container .content-vision .desc-section {
    font-size: 30px;
  }

  #vision .container .content-vision .title-section {
    font-size: 50px;
    line-height: 100px;
  }

  #vision .container .content-vision .regular {
    font-size: 30px !important;
  }

  #vision .container .content-vision .highlite {
    font-size: 58px !important;
  }

  #vision .container .content-vision span {
    line-height: 50px !important;
  }

  #vision .container .content-vision a {
    font-size: 30px !important;
  }

  #team .container .content-team .title-section {
    font-size: 50px;
    line-height: 100px;
  }

  #team .container .paragraph .content-section {
    padding: 0px !important;
  }
}

.card-title a:hover {
  color: #0066cc !important;
}

.card-content {
  line-height: 30px;
}

.link-search{
  line-height: 15px;
}
.title-search{
  font-size: 15px !important;
}
.content-search{
  line-height: 15px;
  font-size: 15px !important;
}
@media (min-width: 425px) {
  .title-search{
      font-size: 20px !important;
  }
  .content-search{
      line-height: 15px;
      font-size: 15px !important;
  }
}
@media (min-width: 991px) {
  .title-search{
      font-size: 20px !important;
  }
  .content-search{
      line-height: 20px;
      font-size: 20px !important;
  }
}